.App {
  text-align: center;

}

#root {
  background-image: url("../public/grass.png");
}
.row {
  width: 80%;
  margin: auto;
  border: 5px solid rgb(246, 183, 10);
  background-image: url("../public/NavbackgroundImage.png");

  padding: 10px;
  box-shadow: 10px 10px ;

}

.paginationnav {
  margin: 0px 0px 0px 0px;
  padding: 10px;
  width: 50%;

}

.paginationnav,
ul {
  margin: auto;
}